body {
    font-size: 1pc;
    background-color: #fff;
    line-height: 1.4;
    color: #333;
    font-family: Helvetica,Arial,freesans,clean,sans-serif
}

h1 {
    font-size: 30px;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd
}

h2 {
    font-size: 24px;
    font-weight: 700
}

h3 {
    font-size: 22px;
    font-weight: 400
}

h4 {
    font-size: 18px
}

h1,h2,h3 {
    margin-top: 20px
}

h1,h2,h3,h4,h5,h6 {
    margin-bottom: 10px
}

h4,h5,h6 {
    margin-top: 10px
}

h1,h2,h3,h4,h5,h6 {
    font-family: Helvetica,Arial,freesans,clean,sans-serif;
    font-weight: 500;
    line-height: 1.1
}